.dark-mode {
    background-color: #040D12; 
  }
  
  .dark-mode a {
    color: #8ac7ff; 
  }

  body {
    background-color: #F9E8D9;
  }

  .language-toggle-container {
    position: absolute;
    top: 10px;
    right: 150px;
  }

.logOut{
 position: relative;
 bottom: 48px;
 margin-left: 1530px;
}