.dark-mode {
  background-color: #040d12;
}

.dark-mode a {
  color: #8ac7ff;
}

body {
  background-color: #f9e8d9;
}

.language-toggle-container {
  position: absolute;
  top: 10px;
  right: 150px;
}

.logOut {
  position: relative;
  bottom: 48px;
  margin-left: 1530px;
}
