.dark-mode {
    background-color: #040D12; /* Dark background color */
    /* color: #ffffff;  */
  }
  
  .dark-mode a {
    color: #8ac7ff; /* Accent color for links in dark mode */
  }

  body {
    background-color: #F9E8D9;
  }

  .language-toggle-container {
    position: absolute;
    top: 15px;
    right: 150px;
  }